[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
tensorflow-rocm = "*"
matplotlib = "*"
sklearn = "*"
flask = "*"
pillow = "*"
opencv-python = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
scikit-learn = "*"
scikit-image = "*"
flask-dropzone = "*"

[dev-packages]

[requires]
python_version = "3.8"
