<!doctype html>
<html>
  <head>
    {% block head %}
    <meta name="author" content="Dipesh Jung Pandey">
    <meta name="description" content="Nepali Handwritten Character Recognition using
                                      Deep Convolutional Neural Networks">
    <title>NHCR {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; min-height: 400px; min-width: 400px;') }}
    {% endblock %}
  </head>
  <body>
    {{ dropzone.load_js() }}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static',filename='main.js') }}"></script>
  </body>
</html>